@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..400;500;600&display=swap');
.rubik-<uniquifier> {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}